<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<h1>Welcome, <%= user.email %></h1>
<p>Your previous ranking: <%= ranking %></p>
<a href="/questions">Generate New Ranking</a>
