<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<form action="/submit-answers" method="post">
    <!-- Sample question -->
    <label for="question1">Private or Public?</label>
    <input type="text" id="question1" name="question1">
    <input type="checkbox" id="must1" name="must1">
    <label for="must1">Must</label>

    <label for="question1">Private or Public?</label>
    <input type="text" id="question1" name="question1">
    <input type="checkbox" id="must1" name="must1">
    <label for="must1">Must</label>

    <label for="question1">Private or Public?</label>
    <input type="text" id="question1" name="question1">
    <input type="checkbox" id="must1" name="must1">
    <label for="must1">Must</label>

    <label for="question1">Private or Public?</label>
    <input type="text" id="question1" name="question1">
    <input type="checkbox" id="must1" name="must1">
    <label for="must1">Must</label>

    <label for="question1">Private or Public?</label>
    <input type="text" id="question1" name="question1">
    <input type="checkbox" id="must1" name="must1">
    <label for="must1">Must</label>

    <label for="question1">Private or Public?</label>
    <input type="text" id="question1" name="question1">
    <input type="checkbox" id="must1" name="must1">
    <label for="must1">Must</label>

    <label for="question1">Private or Public?</label>
    <input type="text" id="question1" name="question1">
    <input type="checkbox" id="must1" name="must1">
    <label for="must1">Must</label>

    <label for="question1">Private or Public?</label>
    <input type="text" id="question1" name="question1">
    <input type="checkbox" id="must1" name="must1">
    <label for="must1">Must</label>

    <label for="question1">Private or Public?</label>
    <input type="text" id="question1" name="question1">
    <input type="checkbox" id="must1" name="must1">
    <label for="must1">Must</label>

    <label for="question1">Private or Public?</label>
    <input type="text" id="question1" name="question1">
    <input type="checkbox" id="must1" name="must1">
    <label for="must1">Must</label>

    <label for="question1">Private or Public?</label>
    <input type="text" id="question1" name="question1">
    <input type="checkbox" id="must1" name="must1">
    <label for="must1">Must</label>

    <label for="question1">Private or Public?</label>
    <input type="text" id="question1" name="question1">
    <input type="checkbox" id="must1" name="must1">
    <label for="must1">Must</label>

    <label for="question1">Private or Public?</label>
    <input type="text" id="question1" name="question1">
    <input type="checkbox" id="must1" name="must1">
    <label for="must1">Must</label>
    <!-- Add more questions as needed -->
    <input type="submit" value="Submit">
</form>
